@model BulkyBook.Models.ApplicationUser

@if (Model != null)
{
    <p>
        Hello @Model.Name <i class="far fa-user"></i>
    </p>
}
else
{
    <p>
        Hello <i class="far fa-user"></i>
    </p>
}