
@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary">Help</h1>

<p>If you need help or need to refund an order, contanct the email <strong>bulky.boy.man@gmail.com</strong></p>